* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Benguiat';
    src: url("fonte/Benguiat\ Bold.ttf");
}

h2, h3, p {
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: #0c0102;
    color: white;
}

button {
    display: flex;
    gap: 14px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.850);
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: font-size 0.4s, color 0.4s;
    align-items: center;
}

button:hover {
    font-size: 18px;
    color: white;
}

/* make the SVG/icon scale with the button's font-size */
button img.seta {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    transition: width 0.25s ease, transform 0.25s ease;
}

/* slightly enlarge the arrow on hover to follow the text growth */
button:hover img.seta {
    width: 1.125em;
    color: white;
}

header {
    display: flex;
    width: 100%;
    padding: 5vw 5vw 0vw 5vw;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.800);
    position: absolute;
    z-index: 10;
}

.hero {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255, 0.800);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    picture {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        object-fit: cover;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            object-fit: cover;
        }
    }

   .titulo, .text {
        width: 50%;
        z-index: 5;
    }

    .titulo {
        display: flex;
        flex-direction: column;
        padding-left: 8vw;
        padding-bottom: 8.5vw;
        line-height: 50px;

        h2 {
            font-size: 1.5vw;
            font-weight: 400;
            letter-spacing: 10px;
            color: rgba(255, 255, 255, 0.800);
            font-family: 'Poppins', sans-serif;
        }

        h1 {
            font-size: 4vw;
            font-family: 'Benguiat', sans-serif;
            color: white;
            line-height: 62px;
            width: 50%;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 0vw 12vw 8.5vw 0vw;
        gap: 24px;

        p {
            color: rgba(255, 255, 255, 0.900);
            font-size: 1.5vw;
            text-align: right;
            width: 300px;
            line-height: 32px;
        }
    }
}

.hero::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(12, 1, 2, 0.00) 0%, #0c0102 100%);
    z-index: 4;
}

/* FIM HERO */

/* INÍCIO MEIO  */

.center {
    width: 100%;
    height: 100vh;
    background-image: url("imagens/bg-sec2.webp");
    background-position: center;
    background-size: cover;  
    background-color: #0c0102;
    color: rgba(255, 255, 255, 0.800);
    display: flex;
    flex-direction: column;

    .cidades {
        width: 100%;
        height: 100vh;

        .tituloCenter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8vw 12vw 0vw 8vw;
            font-size: 20px;
            
            h2 {
                font-weight: 400; 
                color: rgba(255, 255, 255, 0.900);
            }
        }

        .cardCidades {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10vw 12vw 10vw 8vw;

            .teste {
                display: flex;
                justify-content: space-between;
                align-items: end;
                aspect-ratio: 16/9;
                width: 32%;
                background-image: url("imagens/card1.webp");
                background-size: cover;
                background-position: center;
                color: rgba(255, 255, 255, 0.900);
                text-decoration: none;
                border-radius: 8px;
                padding: 20px;

                .card {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;

                    h3 {
                        font-weight: 600;
                        font-size: 16px;
                    }
    
                    p {
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.800);
                    }
                }
            }

            .teste:nth-child(2) {
                background-image: url("imagens/card2.webp");
            }

            .teste:nth-child(3) {
                background-image: url("imagens/card3.webp");
            }
        }
    }

    .comentarios {
        width: 100%;
        .logoMarcas {
            display: flex;
            justify-content: space-between;
            padding: 0vw 12vw 0vw 8vw;
        }

        .depoimentos {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 10vw 12vw 8vw 8vw;
            gap: 40px;
            text-align: justify;
            font-size: 14px;
        
            img {
                padding-bottom: 12px;
            }
        }
    }
}

.agradecimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;

    h2 {
        font-weight: 400;
        color: rgba(255, 255, 255, 0.800);
        font-size: 36px;
        padding-bottom: 32px;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.800);
        list-style: none;
        font-size: 14px;
        padding: 0vw 12vw 8vw 8vw;
    }
}

footer {
    width: 100%;
    background-image: url("imagens/bg-footer.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .conteudoFooter {
        display: flex;
        width: 100%;
        padding: 7vw 7vw 0vw 7vw;
        
        .tituloFooter {
            display: flex;
            flex-direction: column;
            padding-left: 0.8vw;
            padding-bottom: 8.5vw;
            line-height: 50px;

            h2 {
                font-size: 24px;
                font-weight: 400;
                letter-spacing: 10px;
                color: rgba(255, 255, 255, 0.800);
                font-family: 'Poppins', sans-serif;
            }

                h1 {
                font-size: 60px;
                font-family: 'Benguiat', sans-serif;
                color: white;
                line-height: 62px;
                width: 50%;
            }
        }

        .textoFooter {
            display: flex;
            flex: 1;
            justify-content: end;
            gap: 6%;
            padding-top: 56px;
            padding-right: 74px;

            .social, .parceiro {
                img {
                    padding-top: 6px;
                    padding-left: 6px;
                }
            }

            .institucional {
                ul {
                    list-style: none;
                    font-family: "Poppins", sans-serif;
                    font-weight: 300;
                }
            }
        }
    }

    .logosFooter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2vw 5vw 0vw 5vw;
    }

    .textoInfinito {
        width: max-content;
        display: flex;

        h3 {
            color: rgb(191, 191, 191);
            font-size: 12vw;
            padding-left: 64px;
            font-family: 'Benguiat', sans-serif;
            mix-blend-mode: color-dodge;
            animation: textoInfinito 10s infinite linear;
        }
    }
}

@keyframes textoInfinito {
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 600px) {
    header {
        font-size: 2.8vw;

        img {
            height: auto;
            max-width: 20vw;
        }
    }

    .hero {
        height: 100vh;
        display: flex;
        flex-direction: column;

        .titulo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            text-align: center;
            padding: 0;
            padding-top: 130px;
            line-height: 24px;
            h2 {
                font-size: 5vw;
            }

            h1 {
                width: 100%;
                font-size: 7vw;
                text-align: center;
            }
        }

        .text {
            width: 100%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 16vw 0px 16vw;
            
            button {
                font-size: 3vw;
            }

            p {
                width: 100%;
                font-size: 4vw;
                font-weight: 300;
                text-align: center;
            }
        }
    }
    
    .center {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .cidades {
            display: flex;
            flex-direction: column;
            .tituloCenter {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 0;
                
                h2 {
                    font-size: 6vw;
                    text-align: center;
                    font-weight: 300;
                }

                button {
                    display: none;
                }
            }

            .cardCidades {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 12vw 16vw 12vw 16vw;

                .teste {
                    width: 100%;
                    padding: 8px;
                    margin-top: 6vw;
                }
            }
        }

        .comentarios {
            width: 100%;
            .logoMarcas {
                width: 100%;
                padding: 10vw 6vw 10vw 6vw;
                img {
                    height: auto;
                    max-width: 22vw;
                }
            }

            .depoimentos {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 26px;
                padding: 10vw 6vw 14vw 6vw;
                text-align: center;
            }
        }
    }

    .agradecimento {
        width: 100%;
        height: 70vh;
        padding: 60vw 6vw 14vw 6vw;
        display: flex;

        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 36px;
            padding: 4.4vw 0 0 0;
            font-size: 12px;
            animation: textoInfinito2 10s infinite alternate;
        }
        
        li {
            white-space: nowrap;
            flex-shrink: 0;
        }
        
        h2 {
            font-size: 6vw;
            text-align: center;
            font-weight: 300;
        }
    }

    footer {
        width: 100%;
        display: flex;

        .conteudoFooter {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;

            .tituloFooter {
                padding-top: 6vw;
                text-align: center;
                line-height: 24px;
                h2 {
                    font-size: 4vw;
                }
                
                h1 {
                    width: 100%;
                    text-align: center;
                    font-size: 6vw;
                }
            }

            .textoFooter {
                gap: 0;
                font-size: 2.4vw;
                padding: 0;
                padding-bottom: 32px;
                
                h3 {
                    color: rgba(255, 255, 255, 0.850);
                }

                .social {
                    padding-right: 24px;
                    img {
                        height: auto;
                        max-width: 6vw;
                    }
                }

                .institucional {
                    padding-left: 24px;
                }
                
                .parceiro {
                    img {
                        height: auto;
                        max-width: 24vw;
                    }
                }
            }
        }

        .logosFooter {
            width: 100%;
            padding: 1vw 5vw 0vw 5vw;
                img {
                    height: auto;
                    max-width: 16vw;
                }
        }
    }
}

@keyframes textoInfinito2 {
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .hero {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .titulo {
            width: 100%;
            
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            padding-top: 220px;
            text-align: center;

            h2 {
                font-size: 4vw;
            }

            h1 {
                text-align: center;
                font-size: 6vw;
                width: 100%;
            }
        }
        
        .text {
            width: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10vw 21vw 18vw 21vw;
            p {
                width: 100%;
                font-size: 2.8vw;
                text-align: center;
            }
        }
    }

    .center {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .cidades {
            width: 100%;
            height: 100vh; 
            display: flex;
            flex-direction: column;

            .tituloCenter {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                padding-bottom: 2vh;
                font-size: 3.8vw;
                button {
                    display: none;
                }
            }

            .cardCidades {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0;

                .teste {
                    width: 60%;
                    padding: 2vw;
                    margin-top: 6vw;
                }
            }
        }

        .comentarios {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            .logoMarcas {
                width: 100%;
                display: flex;
                padding: 0;
                justify-content: space-between;
                padding: 12vw 5vw 0vw 5vw;

                img {
                    height: auto;
                    max-width: 18vw;
                }
            }

            .depoimentos {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10vw 5vw 0vw 5vw;
                gap: 6vw;
                text-align: justify;
            }
        }
    }

    .agradecimento {
        width: 100%;
        display: flex;
        padding-top: 5.6vh;

        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 36px;
            padding: 3.4vw 5vw 4vw 5vw;
            font-size: 12px;
            animation: textoInfinito2 12s infinite alternate;
        }

        li {
            white-space: nowrap;
            flex-shrink: 0;
        }

        h2 {
            font-size: 3.4vw;
            padding: 0;
        }
    }

    footer {
        width: 100%;
        display: flex;

        .conteudoFooter {
            padding: 0;
            width: 100%;
            padding: 8vw 5vw 4vw 5vw;

            .textoFooter {
                width: 100%;
                padding: 0;
                display: flex;
                flex-direction: row;
                color: rgba(255, 255, 255, 0.850);

                .parceiro {
                    font-size: 1.8vw;
                    img {
                        height: auto;
                        max-width: 18vw;
                    }
                }

                .social {
                    text-align: center;
                    font-size: 1.8vw;
                    img {
                        height: auto;
                        max-width: 4vw;
                        padding: 4px;
                    }
                }

                .institucional {
                    font-size: 1.8vw;
                }
            }

            .tituloFooter {
                line-height: 5vw;
                padding: 0;
                width: 30%;
            
                h2 {
                    letter-spacing: 0.4vw;
                    font-size: 2.4vw;
                }

                h1 {
                    line-height: 4.4vw;
                    font-size: 4vw;
                }
            }
        }
    }

    .logosFooter {
        img {
            height: auto;
            max-width: 10vw;
        }
    }
}

@media (max-width: 360px) {
    .hero {
        height: 100%;
        display: flex;
        flex-direction: column;

        .text {
            padding: 64vw 16vw 12vw 16vw;

            button {
                display: none;
            }

            p {
                font-size: 3.8vw;
            }
        }

        .titulo {
            width: 100%;
            padding: 0;
            padding-top: 36vw;

            h2 {
                font-size: 3.6vw;
                letter-spacing: 2vw;
            }

            h1 {
                font-size: 7.4vw;
                line-height: 12vw;
            }
        }
    }

    .center {
        .cidades {
            .tituloCenter {
                margin-top: 10vw;
            }

            .cardCidades {
                .teste {
                    width: 70%;
                    .card {
                        h3 {
                            font-size: 3.4vw;
                        }

                        p {
                            font-size: 2.4vw;
                        }
                    }
                }
            }
        }

        .comentarios {
            margin-top: 16vw;

            .logoMarcas {
                padding: 6vw 10vw 6vw 10vw;
            }

            .depoimentos {
                gap: 10vw;
                padding: 14vw 8vw 6vw 8vw;

                .depoimento {
                    img {
                        height: auto;
                        max-width: 32vw;
                    }

                    p {
                        font-size: 3.4vw;
                    }
                }
            }
        }
    }

    .agradecimento {
        height: 28vh;
        padding-top: 8.6vh;
        h2 {
            font-size: 5.4vw;
            padding-bottom: 2vw;
        }
    }

    footer {
        .conteudoFooter {
            padding: 5vw;
            .tituloFooter {
                line-height: 6vw;
                width: 100%;
                padding-bottom: 4vw;

                h1 {
                    font-size: 5vw;
                    line-height: 6vw;
                }

                h2 {
                    font-size: 3.4vw;
                }
            }
            .textoFooter {
                width: 100%;
                display: flex;
                justify-content: center;

                .social {
                    img {
                        height: auto;
                        max-width: 6vw;
                    }
                }
            }
        }
    }
}

@media (max-width: 834px) {
    .hero {
        display: flex;
        flex-direction: column;
        height: 100vh;

        .titulo {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0;
            padding-top: 20vw;
            line-height: 4vw;

            h2 {
                font-size: 3vw;
            }

            h1 {
                width: 100%;
                text-align: center;
                font-size: 5vw;
            }
        }

        .text {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0;

            p {
                padding: 0vw 24vw 10vw 24vw;
                width: 100%;
                text-align: center;
                font-size: 2.6vw;
            }

            button {
                display: none;
            }
        }
    }

    .center {
        .cidades {
            .tituloCenter {
                margin-top: 4vw;
                h2 {
                    font-size: 3vw;
                }
            }

            .cardCidades {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 6vw;
                .teste {
                    width: 60%;
                    padding: 1.4vw;
                    margin-top: 3.6vw;
                }
            }
        }

        .comentarios {
            .logoMarcas {
                margin-top: 26vw;
                padding: 0vw 10vw;
            }

            .depoimentos {
                padding: 14vw 10vw 0vw 10vw;
            }
        }
    }

    .agradecimento {
        height: 52vh;
        padding: 0;
        padding-top: 37vw;
        display: flex;
        align-items: center;
        
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 2vw 2vw 0vw 2vw;
            animation: textoInfinito2 12s infinite alternate;
            
            li {
                white-space: nowrap;
                flex-shrink: 0;
                padding-right: 10px;
            }
        }

        h2 {
            text-align: center;
            width: 100%;
            font-size: 3vw;
            padding: 0;
        }
    }

    footer {
        .conteudoFooter {
            padding: 0 6vw;
            width: 100%;
            padding-bottom: 6vw;

            .textoFooter {
                padding: 0;
                padding-top: 56px;
                width: 100%;
                .social {
                    img {
                        height: auto;
                        max-width: 3.7vw;
                    }
                    h3 {
                        text-align: center;
                        font-size: 1.8vw;
                    }
                }

                .parceiro {
                    h3 {
                        font-size: 1.8vw;
                    }

                    img {
                        height: auto;
                        max-width: 16vw;
                    }
                }

                .institucional {
                    h3 {
                        font-size: 1.8vw;
                    }

                    ul {
                        li {
                            font-size: 1.4vw;
                        }
                    }
                }
            }

            .tituloFooter {
                padding: 0;
                padding-top: 58px;
                line-height: 24px;
                width: 36%;

                h2 {
                    font-size: 1.6vw;
                }

                h1 {
                    line-height: 36px;
                    font-size: 4.6vw;
                }
            }
        }

        .logosFooter {
            img {
                height: auto;
                max-width: 9vw;
            }
        }
    }
}